html, body {
	background-color: white;
	color: black;
}
.top-block {
	background-color: #1F2937;
	color: white;
}
.top-links {
	display: flex;
}
.top-links > div {
	flex: 1;
	color:#e5e7eb;
	font-size: 18px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 100;

}
.top-links > .logo {
	flex: 3;
	color: #f9faf8;
	font-size: 22px;
	font-weight: 400;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}